
.card-container{
width: 200px;
overflow: hidden;
box-shadow: 0 0 15px -5px;
margin: auto;
margin-top: 50px;
}

.img-container img{
overflow: hidden;
height: 200px;
width: auto;
}

button{
    width: 50px;
    text-align: center;
    margin: 5px;
   color: black;
}
